/* Genel sayfa ayarları */
.about-page {
  background: linear-gradient(90deg, #0040ff10 0%, #000000 50%, #0d0f11 100%);
  color: #d7dedf;
  align-items: center;
  display: grid;
  font-family: "VVDS Fifties Exp SBold";
}

/* Başlık */
.about-header {
  position: relative;
  text-align: center;
  top: 13vh;
  text-shadow: 0 0 15px rgba(175, 210, 255, 0.25); /* Spotlight ile uyumlu daha belirgin bir ışık */
}

h3 {
  font-family: "VVDS Fifties Exp SBold";
}

p, pre{
  /*font-family: sourcecodepro, Menlo, Monaco, Consolas, "Courier New", monospace;*/
  font-family: "Poiret One", sans-serif;
  font-weight: 900;
}

.about-title {
  font-size: 4rem;
  font-weight: 800;
  margin-top: 40px;
}

.about-spotlight-card:nth-child(-n + 3) {
  justify-content: center;
  grid-column: 1 / -1;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 2.25rem;
  border-radius: 14px;
  min-height: 220px;
  transition: 0.3s ease;
  background: linear-gradient(
    90deg,
    rgba(58, 134, 255, 0.08),
    rgba(46, 196, 182, 0.06)
  );
  box-shadow: 0 16px 50px rgba(2, 6, 23, 0.62), 0 6px 20px rgba(3, 8, 20, 0.28);
  border: 1px solid rgba(255, 255, 255, 0.02);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.about-subtitle {
  font-size: 1.5rem;
  color: #f3ebeb;
  margin-top: 0.5rem;
}

.about-hero-containers {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 0 2rem;
}

.experience-section {
  margin-top: 15rem;
  width: 100%;
  max-width: 1200px;
}

/* Spotlight kartlar */
.about-cards {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  width: 100%;
  flex-direction: column;
  margin-top: 8rem;
  gap: 2rem;
  justify-content: center;
  padding: 0 4rem;
  box-sizing: border-box;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.card-content > img {
  width: fit-content;
}
