/* Genel sayfa ayarları */
.about-page {
  background:linear-gradient(180deg, #18191c 0%, #040507 50%, #161a20 100%);
  color: #d7dedf;
  align-items: center;
  display: grid;
  font-family: "VVDS Fifties Exp SBold";

}

/* Başlık */
.about-header {
  position: relative;
  text-align: center;
  top: 13vh;
  text-shadow: 0 0 15px rgba(175, 210, 255, 0.25); /* Spotlight ile uyumlu daha belirgin bir ışık */

}

h3{
  font-family: "VVDS Fifties Exp SBold";
}

p{
  font-family: sourcecodepro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-weight: 900;
}

.about-title {
  font-size: 4rem;
  font-weight: 800;
  margin-top: 40px;
}

.about-spotlight-card
{
  display: flex;
  justify-content: center;
  border-radius: 8px;
  background-color: aquamarine;
  /*background-color: #58f0b5;*/
  box-shadow: 0 4px 15px rgba(35, 227, 125, 0.181);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-subtitle {
  font-size: 1.5rem;
  color: #f3ebeb;
  margin-top: 0.5rem; 
}

.about-hero-containers {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 0 2rem;
}

.experience-section
{
  margin-top: 15rem;
  width: 100%;
  max-width: 1200px;
}

/* Spotlight kartlar */
.about-cards {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  width: 100%;
  flex-direction: column;
  margin-top: 8rem;
  gap: 2rem;
  justify-content: center;
  padding: 0 4rem;
  box-sizing: border-box;
}


.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.card-content > img{
  width: fit-content;
}
