

.blog-page {
  background:linear-gradient(180deg, #18191c 0%, #161b22 50%, #161a20 100%);
  color: #d7dedf;
  font-family: "VVDS Fifties Exp SBold";
  font-weight: 700;
  display: flex; /* grid yerine flex */
  flex-direction: column; /* dikey akış */
  align-items: center;
}

.blog-header {
  text-align: center;
}

.blog-title {
  font-size: 3.6rem;
  margin-top: 6rem;
  font-weight: 600;
  color: #e0f0ff;
  text-shadow: 0 0 15px rgba(175, 210, 255, 0.45); /* Spotlight ile uyumlu daha belirgin bir ışık */
}

.blog-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  left: 0.7rem;
  grid-template-columns: 1fr; /* mobilde tek sütun */
  width: 100%;
  gap: 2.5rem;
  max-width: 95vw;
  scroll-behavior: smooth;
}

.blog-image {
  width: 100%;
  height: 12rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.blog-card {
  font-family: Lekton;
  font-weight: 700;
  border-radius: 1.2rem;
  max-width: 240px;
  flex-direction: column;
  height: 100%;
}

.blog-skeleton {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.blog-content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  height: 100%;
}

.blog-post-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #58f0b5;
}

.blog-excerpt {
  font-size: 1rem;
  line-height: 1.6;
  color: #d7dedf;
  flex-grow: 1; /* kartta alan doldursun */
}

.blog-meta > a{
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border-radius: 0.75rem;
  margin-top: auto;
}

.blog-author > a {
  text-decoration: none;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  color: #58f0b5; /* Daha canlı bir yeşil tonu */
}

.blog-date {
  font-size: 1rem;
  color: #b0c0d0; /* Daha okunur ve arka planla uyumlu bir gri tonu */
  text-decoration: none;
  font-weight: 100;
}

.footer-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* 768px ve üstü ekranlarda iki sütun */
@media (min-width: 768px) {
  .blog-list {
    grid-template-columns: 1fr 1fr;
  }
}


@media (max-width: 1200px) {
  .blog-page
  {
    padding: 0 2rem;
  }
  .blog-card {
    width: 100%;
    max-width: 32vw;
  }
}

@media (max-width: 900px) {
  .blog-card {
    width: 100%;
    max-width: 48vw;
  }
}

@media (max-width: 600px) {
  .blog-card {
    width: 90%;
    max-width: 95vw;
  }
}

@media (min-width: 300px) and (max-width: 768px) {
  .blog-list {
    justify-content: center;
    gap: 8rem;
  }
  .blog-card {
    width: 90%;
    max-width: 65vw;
  }
}



