.footer-container {
  position: relative;
  border: 1px solid #222;
  background: transparent;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #d7dedf;
  padding: 1rem;
  overflow: hidden;
  height: 65vh;

}
/* footer gri renk #373737*/

.footer-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background: radial-gradient(
    circle at 50% 50%,
    rgba(89, 247, 139, 0.136),
    transparent 30%
  );*/
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.footer-container:hover::before,
.footer-container:focus-within::before {
  opacity: 0.6;
}

.footer-content {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#footer-brand-section {
  position: relative;
  top: 125px;
  font-family:monospace;
  justify-content: center;
  float: left;
  left: 0;
  text-align: center;
  align-items: center;
}

#footer-link-section {
  position: relative;
  top: 160px;
  font-family:monospace;
  float: left;
  left: 0;
  text-align: center;
  align-items: center;
}

#footer-social-section {
  position: relative;
  font-family:monospace;
  top: 160px;
  float: left;
  left: 0;
  text-align: center;
  align-items: center;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-brand-logo
{
  position: relative;
  margin-left: 140px;
  width: 40px;
  height: 40px;
}

.footer-title {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
  color: ivory;
}

.footer-text {
  font-size: 1.2rem;
  line-height: 1.5;
}

.footer-links {
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin: 0.3rem 0;
}

.footer-links a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #d7dedf;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #58f0b5;
  text-decoration: underline;
}

.footer-socials {
  justify-content: center;
  display: flex;
  gap: 1rem;
}

.footer-socials a {
  font-size: 0.9rem;
  color: #d7dedf;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-socials a:hover {
  color: #58f0b5;
}

.footer-bottom {
  position: relative;
  text-align: center;
  top: 15.5rem;
  font-size: 0.55rem;
  color: #aaa;
  font-family: Lekton;
  font-weight: 300;
}
