.profile-page {
  background:linear-gradient(180deg, #18191c 0%, #040507 50%, #161a20 100%);
  color: #d7dedf;
  min-height: 100vh;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  display: flex; /* grid yerine flex */
  flex-direction: column; /* dikey akış */
  align-items: center;
}



.profile-owner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 6rem;
}


.profile-name > a {
  text-decoration: none;
  font-size: 1.3rem;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-weight: 900;
  color: #58f0b5;
}


.grid_container
{
  display: grid;
  width: 100%;
  margin-top: 2rem;
  gap: 0.4rem;
  justify-content: center;
  padding-left: 5px;
  opacity: 1;
  transition: 1.2s ease;
  align-items: center;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}



.grid_container:hover 
{
  opacity: 0.7;
  transition: 1.2s ease;

}

.filter_section
{
  width: 100%;
  margin-top: 2rem;
  border-bottom: 1px solid #444c54;
  display: flex;
  height: 5vh;
  justify-content:center;
  align-items: center;
  padding: 0.5rem;
  left: 10px;
  right: 10px;
  gap: 0.4rem;
}

/*.more-filter-div {
  margin-left: auto;
  position:relative;
  float:right;
}

*/

.footer-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Responsive */
@media (max-width: 768px) {
  .blog-main-spotlight {
    padding: 1rem;
  }
}