/* Genel sayfa ayarları */
.projects-page {
  background: linear-gradient(90deg, #0040ff10 0%, #000000 50%, #0d0f11 100%);
  color: #d7dedf;
  align-items: center;
  font-family: "VVDS Fifties Exp SBold";

}

/* Başlık */
.projects-page-header {
  position: relative;
  text-align: center;
  top: 13vh;
}

.projects-page-title {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
}

.projects-subtitle {
  font-size: 1.5rem;
  color: #aaa;
  margin-top: 0.5rem;
}

/* Spotlight kartlar */
.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  width: 100%;
  margin-top: 8rem;
  gap: 2rem;
  justify-content: center;
  padding: 0 4rem;
  box-sizing: border-box;
}
/* DUNYANIN EN GARIP CSS KURALINI KESFETTIM AMA COK GUZEL GORUNUYOR
.project-cards :nth-child(-n + 3) {
  justify-content: center;
  grid-column: 1 / -1;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 2.25rem;
  border-radius: 14px;
  min-height: 220px;
  transition: 0.3s ease;
  background: linear-gradient(
    90deg,
    rgba(58, 134, 255, 0.08),
    rgba(46, 196, 182, 0.06)
  );
  box-shadow: 0 16px 50px rgba(2, 6, 23, 0.62), 0 6px 20px rgba(3, 8, 20, 0.28);
  border: 1px solid rgba(255, 255, 255, 0.02);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}
*/

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.card-icon {
  width: 48px;
  height: 48px;
}
