/* Genel sayfa ayarları */
.projects-page {
  background:linear-gradient(90deg, #0a0b0e 0%, #060c15 50%, #0a0b0d 100%);
  color: #d7dedf;
  align-items: center;
  font-family: "VVDS Fifties Exp SBold";

}

/* Başlık */
.projects-page-header {
  position: relative;
  text-align: center;
  top: 13vh;
}

.projects-page-title {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
}

.projects-subtitle {
  font-size: 1.5rem;
  color: #aaa;
  margin-top: 0.5rem;
}

/* Spotlight kartlar */
.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  width: 100%;
  margin-top: 8rem;
  gap: 2rem;
  justify-content: center;
  padding: 0 4rem;
  box-sizing: border-box;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.card-icon {
  width: 48px;
  height: 48px;
}
